name: App CI/CD

on:
  push:
    branches: ["main"]
    paths:
      - "app/**"
      - "k8s/**"
  pull_request:
    paths:
      - "app/**"
      - "k8s/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: minookarthik/wiz-mongo-app
      AWS_REGION: us-east-1

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        working-directory: app
        run: npm ci

      - name: Run tests (if present)
        working-directory: app
        run: npm test --if-present

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          docker build -t $IMAGE_NAME:$SHORT_SHA ./app
          echo "IMAGE_TAG=$SHORT_SHA" >> $GITHUB_ENV

      - name: Push Docker image
        run: |
          docker push $IMAGE_NAME:${IMAGE_TAG}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: minookarthik/wiz-mongo-app
      AWS_REGION: us-east-1
      CLUSTER_NAME: wiz-eks-cluster
      K8S_NAMESPACE: wiz-app

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: "latest"

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig \
            --region $AWS_REGION \
            --name $CLUSTER_NAME

      - name: Set image in k8s manifest
        run: |
          SHORT_SHA=${IMAGE_TAG:-${GITHUB_SHA::7}}
          sed -i "s#image: .*wiz-mongo-app.*#image: ${IMAGE_NAME}:${SHORT_SHA}#g" k8s/wiz-app-k8s.yaml

      - name: Apply k8s manifests
        run: |
          kubectl apply -f k8s/wiz-app-k8s.yaml
          kubectl rollout status deployment/wiz-mongo-app -n $K8S_NAMESPACE
